:root {
    --clr-white-primary: #FFFFFF;
    --clr-white-secondary: #F5F4F6;
    --clr-green: #02B553;
    --clr-gray-primary: #787490;
    --clr-gray-secondary: #D6D4E2;
    --clr-dark-primary: #18161F;
    --clr-dark-secondary: #262331;

    --ff-default: "Space Grotesk", sans-serif;

    --fw-400: 400;
    --fw-700: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-white-secondary);
    font-family: var(--ff-default);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--fw-400);
    color: var(--clr-dark-primary);
}

/* Text styles */

.title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: var(--fw-700);
    color: var(--clr-dark-secondary);
    margin-bottom: 1.5rem;
}

.title::before {
    vertical-align: middle;
    margin-right: 1rem;
}

.title-1::before {
    content: url(./images/task.svg);
}

.title-2::before {
    content: url(./images/board.svg);
}

.task-content {
    font-weight: var(--fw-700);
    overflow: hidden;
    flex: 1;
}

/* General styles */

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 40rem;
}

.header {
    margin-bottom: 4.5rem;
}

form {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

input[type="text"] {
    border: 1px solid var(--clr-gray-secondary);
    border-radius: 1rem;
    padding: 1rem;
    flex: 1;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--fw-400);
    color: #18161F;
}

input[type="text"]::placeholder {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--fw-400);
    color: var(--clr-gray-primary);
}

input[type="submit"] {
    background-color: var(--clr-green);
    border: none;
    border-radius: 1rem;
    padding: 1rem 2rem;

    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--fw-400);
    color: var(--clr-white-primary);
}

.task-list {
    max-height: 18.75rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    overflow-y: auto;
}

.task {
    background-color: var(--clr-white-primary);
    padding: 1.5rem;
    border-radius: 1.5rem;
    border: 2px solid transparent;

    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.task-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    max-width: 1.5rem;
    max-height: 1.5rem;
}

.checked {
    border: 2px solid var(--clr-green);
}

.checked .task-content {
    color: var(--clr-green);
    text-decoration: line-through;
}

img {
    pointer-events: none;
}

@media (max-width: 660px) {
    .container {
        max-width: 22.5rem;
    }

    .header {
        overflow: hidden;
    }

    form {
        column-gap: 0.5rem;
    }

    input[type="submit"] {
        padding: 1rem 0.75rem;
    }

    .task-list {
        max-height: 16.5rem;
        row-gap: 0.5rem;
    }
}